<!--***********************************************************************
                              About Section
************************************************************************-->
<div id="about" class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12">
        <h1 class="pink-text text-lighten-2 center">Getting Started <img class="logo-img" src="/static/img/uplifting.png" alt="a girl being lifted by balloons" style="height:200px;vertical-align:middle"></h1>

        <h4 class="pink-text text-lighten-2">Authentication</h4>
        <p>Once you have an account, you will need to create an app to obtain your API key. This key will be used to authenticate all API calls.</p>
        <ol>
          <li><a href="/dev/login/" class="pink-text text-lighten-2">Log in</a> to your developer account (or <a href="/dev/register/" class="pink-text text-lighten-2">create one</a>).</li>
          <li>Navigate to your <a href="/dev" class="pink-text text-lighten-2">developer panel</a></li>
          <li>Click the button to "Create a New App"</li>
          <li>Fill in your information, and click "Generate API Key"</li>
        </ol>
        <br /><br />

        <h4 class="pink-text text-lighten-2">Endpoint</h4>
        <p>All requests to the Uplifting Quotes API are made under https://uplift.aspenhollyer.com/api. Let's take a look at some examples.</p>

        <pre><code>https://uplift.aspenhollyer.com/api/[YOUR_KEY]?random=true</code></pre>
        <br /><br />

      </div>

    </div><!-- .row -->
  </div><!-- .section -->
</div><!-- .container -->
<!--***********************************************************************
                                Footer
************************************************************************-->
<footer id="contribute" class="page-footer blue-grey darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contribute</h5>
        <p class="grey-text text-lighten-4">I'm always looking for new quotes for the database. Got a good one? Send it my way!</p>
      </div>
      <div class="col l6 s12">
        <form>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="quoteText" class="materialize-textarea blue-grey lighten-1"></textarea>
              <label for="quoteText" class="grey-text text-lighten-4">&nbsp;Quote</label>
            </div>
            <div class="input-field col s6">
             <input id="authorName" type="text" class="validate blue-grey lighten-1">
             <label for="authorName" class="grey-text text-lighten-4">&nbsp;Author (if known)</label>
           </div>
           <div class="col s6">
             <br/><button class="waves-effect waves-light btn pink lighten-2" type="submit" name="submit">Submit</button>
           </div>
          </div>
        </form>
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->

  <div class="footer-copyright">
    <div class="container">
    Created &amp; maintained by <a class="pink-text text-lighten-3" href="https://aspenhollyer.com" target="_blank">Aspen Hollyer</a>.
    </div>
  </div>
</footer>
<!--***********************************************************************
                                Scripts
************************************************************************-->
