<!--***********************************************************************
                                Sidenav
************************************************************************-->
<nav class="pink lighten-2" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">Uplifting Quotes<img class="logo-img" src="/static/img/uplifting.png" alt="a girl being lifted by balloons"></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">About</a></li>
      <li><a href="#">Search</a></li>
      <li><a href="#">Contribute</a></li>
      <li><a href="#">For Developers</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">Search</a></li>
      <li><a href="#">For Developers</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<!--***********************************************************************
                                Header
************************************************************************-->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <div class="row center">
        <h5 class="header col s12 light">"This will be a sample quote by some cool author who knows a lot. Check it out. Sweet, right?" - Aspen Hollyer</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light pink lighten-2">New Quote</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="/static/img/typewriter.jpg" alt="a desktop with typewriter, pens, etc."></div>
</div>
<!--***********************************************************************
                              About Section
************************************************************************-->
<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 center">
        <h4>What is this?</h4>
        <p>It's simple, really. I built this app for people who love quotes, and for people who build stuff for people who love quotes. You won't find dumb random movie lines or uninspiring cliches here. Enjoy! <em>(Questions? <a href="mailto:aspen.hollyer@gmail.com" class="pink-text text-lighten-2">Shoot me an e-mail</a>.)</em></p>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center pink-text text-lighten-2"><i class="material-icons">favorite</i></h2>
          <h5 class="center pink-text text-lighten-2">Enjoy</h5>
          <p class="center light">Get your daily inspiration with a random quote, or <a href="#" class="pink-text text-lighten-2">search</a> around. Our database includes only quotes hand-selected by a picky English teacher, so you know they're legit.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center pink-text text-lighten-2"><i class="material-icons">build</i></h2>
          <h5 class="center pink-text text-lighten-2">Build</h5>
          <p class="center light">Are you a developer? Take advantage of the <a href="#" class="pink-text text-lighten-2">Uplifting Quotes API</a> to easily include inspirational snippets in your projects.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center pink-text text-lighten-2"><i class="material-icons">public</i></h2>
          <h5 class="center pink-text text-lighten-2">Share</h5>
          <p class="center light">Spread the words! If you find a quote you love, be sure to click those share buttons.</p>
        </div>
      </div>

    </div><!-- .row -->
  </div><!-- .section -->
</div><!-- .container -->
<!--***********************************************************************
                            Parallax Divider
************************************************************************-->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">"This will be a sample quote by some cool author who knows a lot. Check it out. Sweet, right?" - Aspen Hollyer</h5>
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .section -->
  <div class="parallax"><img src="/static/img/book-landscape.jpg" alt="an open book with a majestic landscape"></div>
</div>
<!--***********************************************************************
                            Contact Section
************************************************************************-->
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Brief Disclaimer: Quotes &amp; Sources</h4>
        <p class="left-align light">
          We've all seen them--those memes that misattribute every cliche under the sun to Albert Einstein. Quotes are little snippets of insight that often say as much about their creators as they do about human nature. To that end, I've tried to correctly source every quote in this database. The internet is full of so-called quote websites that put words in peoples' mouths with little or no research. This site aims to be a higher quality resource than that riff-raff, but of course it's not perfect.
        </p>
        <p class="left-align light">
          With that said, the site undoubtedly contains some errors. At times, I have even slightly reworded quotes. For example, when a quote from literature uses a character's name, this may be omitted just for clarity's sake. I've tried never to change the substance of a quote, and never to alter the author's meaning or twist it out of context. If you do spot any errors or misattributions, please <a href="mailto:aspen.hollyer@gmail.com" class="pink-text text-lighten-2">let me know</a> so they can be fixed. Thanks!
        </p>
      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .section -->
</div><!-- .container -->
<!--***********************************************************************
                            Parallax Divider
************************************************************************-->
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">"This will be a sample quote by some cool author who knows a lot. Check it out. Sweet, right?" - Aspen Hollyer</h5>
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .section -->
  <div class="parallax"><img src="/static/img/books1.jpg" alt="a large library of books"></div>
</div>
<!--***********************************************************************
                                Footer
************************************************************************-->
<footer class="page-footer blue-grey darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contribute</h5>
        <p class="grey-text text-lighten-4">I'm always looking for new quotes for the database. Got a good one? Send it my way!</p>
      </div>
      <div class="col l6 s12">

      <form>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="quoteText" class="materialize-textarea blue-grey lighten-1"></textarea>
            <label for="quoteText" class="grey-text text-lighten-4">&nbsp;Quote</label>
          </div>
          <div class="input-field col s6">
           <input id="authorName" type="text" class="validate blue-grey lighten-1">
           <label for="authorName" class="grey-text text-lighten-4">&nbsp;Author (if known)</label>
         </div>
         <div class="col s6">
           <br/><button class="waves-effect waves-light btn pink lighten-2" type="submit" name="submit">Submit</button>
         </div>
        </div>
      </form>


      </div><!-- .col -->
    </div><!-- .row -->
  </div><!-- .container -->

  <div class="footer-copyright">
    <div class="container">
    Created &amp; maintained by <a class="pink-text text-lighten-3" href="https://aspenhollyer.com" target="_blank">Aspen Hollyer</a>.
    </div>
  </div>
</footer>

<script type="text/javascript">

</script>
