<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Uplifting Quotes: {{{title}}}</title>

  <!--***********************************************************************
                                  Styles
  ************************************************************************-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://use.fontawesome.com/0b323d712f.js"></script>

</head>
<body>
  <!--***********************************************************************
                          Navbar - Sidenav on Mobile
  ************************************************************************-->
  <!-- Dropdown Links (For Developers) -->
  <ul id="dev-dropdown" class="dropdown-content">
    <li><a href="/dev">Dev Panel</a></li>
    <li><a href="/dev/guide">Getting Started</a></li>
    <li class="divider"></li>
    <li><a href="/dev/register">Sign Up</a></li>
    <li><a href="/dev/login">Log In</a></li>
  </ul>

  <nav class="pink lighten-2" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">Uplifting Quotes<img class="logo-img" src="/static/img/uplifting.png" alt="a girl being lifted by balloons"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="#contribute">Contribute</a></li>
        <!-- Dropdown Trigger (For Developers) -->
        <li><a class="dropdown-button" href="#!" data-activates="dev-dropdown">For Developers<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <!-- Links for Pancake Menu -->
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">For Developers</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  {{{body}}}

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>

</body>
</html>
