/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #f2f2f2;
}

.logo-img {
  vertical-align: top;
  margin-top: 3px;
  height: 50px;
  width: auto;
  -ms-transform: rotate(6deg);
  -webkit-transform: rotate(6deg);
  transform: rotate(6deg);
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #f2f2f2;
}



.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
  .parallax-container h1 {
    font-weight: 500;
    background: rgba(100, 100, 100, 0.6);
  }
  .parallax-container h5 {
    margin-top: 50px;
    background: rgba(100, 100, 100, 0.6);
    line-height: 1.5;
    text-shadow: 2px 2px #555;
  }

  #index-banner {
    padding-top: 200px;
    min-height: 100vh;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner {
    min-height: 50vh;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: inline-block;
  padding: 10px 15px;
}
